<% provide(:title, 'All My Amount in $') %>
<div class="total-div">
<h4><strong>My Total Amount Spent in $:</strong> <%= total_hours(total_sum) %></h4>
</div>
<div class="pagination"><%= will_paginate @logs%></div>

<% @logs.each do |log| %>

<div class="group-div">
<div>
<h3><strong><%= log.name %></strong></h3>
<p><small>Created At: <%= log.created_at.strftime("%d-%m-%y") %></small></p>
<h5><strong>Amount Spent: <%= hours(log) %> dollars </strong></h5>
</div>
<%= group_img_helper(log)%>
</div>
<% end %>
<div class="pagination"><%= will_paginate @logs%></div>
<div class="create-group">
<%= link_to "Create New Transaction", new_log_path, class: "create-group-link"%>
</div>
<div class="create-pad"></div>